<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Business</h2>


<div>
    <h3>BUSINESS</h3>
    endpoint: http://127.0.0.1:8000/api/business/
    Allowed Methods: GET, POST

    <b>Request http method=POST</b>
    Requires:
            'name'=name of the business
            'image'=image of the business
            'description'=description of business
            'category'=category of business
            'phone'= business phone number
            'city'=city business is in
            'address'=business address

    <h4>sample request</h4>
    curl --location 'http://127.0.0.1:8000/api/business/'\
    --data-raw '{
            "name": "sola photos 1",
            "image": path_to_image_location,
            "description": "best photography you can afford,
            "category": "photo",
            "phone": "=2349034213456,
            "city": "Ado Ekiti",
            "address": "L58, idoile road",
    }'

    <h4>sample response</h4>
    {
            "name": "sola photos 1",
            "image": path_to_image_location,
            "description": "best photography you can afford,
            "category": "photo",
            "phone": "=2349034213456,
            "city": "Ado Ekiti",
            "address": "L58, idoile road",
            "id": "1",
            "active": "True",
            "code": "we21k"
    },

    When request is sent, a business with admin as logged-in user is created alongside a code for each business and active status is changed to True.
    Users can only book session with active business. Code is a 5 character unique value assigned to each business.

    <b>Request http method=GET</b>

    <h4>sample request</h4>
    When request is sent, all registered business is returned.
    <h4>sample request</h4>
    curl --location 'http://127.0.0.1:8000/api/business/'\

    <h4>sample response</h4>
    {
            {
                    "name": "sola photos 1",
                    "image": path_to_image_location,
                    "description": "best photography you can afford,
                    "category": "photo",
                    "phone": "=2349034213456,
                    "city": "Ado Ekiti",
                    "address": "L58, idoile road",
                    "id": "1",
                    "active": "True",
                    "code": "we21k"
            },
            {
                    "name": "sola photos 2",
                    "image": path_to_image_location,
                    "description": "best photography you can afford,
                    "category": "photography",
                    "phone": "=2349034213456,
                    "city": "Ido Ekiti",
                    "address": "L68, idoile road",
                    "id": "2",
                    "active": "True",
                    "code": "we22k"
            },
            {
                    "name": "sola photos 3",
                    "image": path_to_image_location,
                    "description": "best photography you can afford,
                    "category": "photo",
                    "phone": "=2349034213456,
                    "city": "Oye Ekiti",
                    "address": "L78, idoile road",
                    "id": "3",
                    "active": "True",
                    "code": "we23k"
            },
            {
                    "name": "sola photos 4",
                    "image": path_to_image_location,
                    "description": "best photography you can afford,
                    "category": "photography",
                    "phone": "=2349034213456,
                    "city": "Are Ekiti",
                    "address": "L88, idoile road",
                    "id": "4",
                    "active": "True",
                    "code": "we24k"
            }
    }
</div>

<div>
    <h3>FETCH CATEGORY BUSINESS</h3>
    endpoint: http://127.0.0.1:8000/api/business/category/cat/
    Allowed Methods: GET
    Returns all registered businesses with category==cat

    <b>Request http method=GET</b>
    <h4>sample request</h4>
    curl --location 'http://127.0.0.1:8000/api/business/category/photo/'\
    <h4>sample response</h4>
    {
            {
                    "name": "sola photos 1",
                    "image": path_to_image_location,
                    "description": "best photography you can afford,
                    "category": "photo",
                    "phone": "=2349034213456,
                    "city": "Ado Ekiti",
                    "address": "L58, idoile road",
                    "id": "1",
                    "active": "True",
                    "code": "we21k"
            },
            {
                    "name": "sola photos 3",
                    "image": path_to_image_location,
                    "description": "best photography you can afford,
                    "category": "photo",
                    "phone": "=2349034213456,
                    "city": "Oye Ekiti",
                    "address": "L78, idoile road",
                    "id": "3",
                    "active": "True",
                    "code": "we23k"
            }
    }
</div>

<div>
    <h3>FETCH SINGLE BUSINESSES</h3>
    endpoint: http://127.0.0.1:8000/api/business/id/pk/
    Allowed Methods: GET
    Returns registered businesses with id=pk

    <b>Request http method=GET</b>
    <h4>sample request</h4>
    curl --location 'http://127.0.0.1:8000/api/business/id/1/'\
    <h4>sample response</h4>
    {
            "name": "sola photos 1",
            "image": path_to_image_location,
            "description": "best photography you can afford,
            "category": "photo",
            "phone": "=2349034213456,
            "city": "Ado Ekiti",
            "address": "L58, idoile road",
            "id": "1",
            "active": "True",
            "code": "we21k"
    }
</div>
</body>
</html>